﻿<footer class=" py-3">
    <div class="container ">

        <div class="row d-flex flex-wrap justify-content-between align-items-center">
            <ul class="nav col-lg-4 col-md-12">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a asp-controller="Image" asp-action="Index" class="nav-link px-2 text-muted">Admin</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <a href="/" class="col-lg-4 col-md-12 d-flex navbar-brand">
                MY PHOTO BLOG
            </a>
            <p class="col-lg-2 col-md-12 align-self-center mb-0 text-muted">© 2023 Giada</p>
        </div>
        

        
    </div>
</footer>