@{
    Layout = "_Layout";
}
<div class="container my_form_container">

    <h2>Invia un messaggio</h2>
    <form id="message-form">
        <div class="form-group">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="prova@prova.com" />
            <span id="email-errors" class="text-error"></span>
        </div>
        <div class=" form-group mb-3">
            <label class="form-label" for="textmessage">Messaggio:</label>
            <textarea class="form-control" rows="5" id="textmessage"></textarea>
        </div>
        <button class="btn my_btn" type="submit" onclick="newMessage(event)">Invia</button>
    </form>
</div>
@section Scripts {
    <script>
        

        function newMessage(e) {
            e.preventDefault();
            let email = document.getElementById('email').value;
            let textmessage = document.getElementById('textmessage').value;

            if (!email || !textmessage) {
                alert('Insert Email and message');
                return;
            }

            let apiUrl = `/api/Messages/SaveMessage`
            const jsonData = {
                Email: email,
                TextMessage: textmessage,
            };

            axios.post(apiUrl, jsonData)
                .catch(function (error) {
                   
                    console.error(error);
                })
                .then(function (response) {
                    
                    console.log(response.data);
                    alert('Message send with success!');

                    document.getElementById('email').value = '';
                    document.getElementById('textmessage').value = '';
                });    
        }

    </script>
}