@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F3F3F3;
}

/*LAYOUT*/
header {
    height:100px;
    font-size: 1rem;
    border-bottom: 3px solid black;
   
}

/*HEADER*/

.nav-link {
    color: black;
    font-size: 1.5rem;
}

    .nav-link:hover {
        color: #284B63;
    }

.navbar-brand {
    color: #284B63;
    font-weight: 500;
    font-size: 2.5rem;
}

a:hover {
    color: #999999;
}

.nav-item {
    font-size: 1rem;
}

.navbar-toggler-icon {
    color: black;
}

/*jumbotron*/
.jumbotron {
    height: 700px;
    background-image: url(../img/jt.jpg);
    background-position: center;
    background-size: cover;
}

.jt-logo {
    background-color: #284b636e;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    color: #CCCCCC;
    font-weight: bold;
    text-align: center;
}

/*Utility*/
.my_btn {
    background-color: #FFFFFF;
    border: 2px solid gray;
}

    .my_btn:hover {
        color: black;
        border: 2px solid #284b636e;
    }

.del_btn {
    background-color: #FFFFFF;
    border: 2px solid gray;
}

    .del_btn:hover {
        color: #E80000;
        border: 2px solid #E80000;
    }

.update_btn {
    background-color: #FFFFFF;
    border: 2px solid gray;
}

    .update_btn:hover {
        color: green;
        border: 2px solid green;
    }

.fake_form {
    display: inline-block;
}
/*ADMIN PAGE*/
.table img {
    width: 250px;
    height:100%;
}

/*CARD*/
.my_card_container {
    height: 70%
}
.details_card {
    max-width:400px;
    background-color: #FFFFFF;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img img {
    width: 100%;
    max-height:268px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: #284B63;
}
.card-subtitle {
    font-size: 1.2rem;
}
.card_body{
    padding: 2rem 1rem;
}

.card-divider {
    width: 100%;
    border: 1px solid black;
    border-radius: 50px;
}

.card-img:hover {
    transform: translateY(-3px);
}


/*HOME PAGE*/

.ms_main_title {
    color: #284B63;
    font-size: 5rem;
}


/*SPINNER*/

.loader {
    display: flex;
    align-items: center;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

    .bar:nth-child(2) {
        height: 35px;
        margin: 0 5px;
        animation-delay: .25s;
    }

    .bar:nth-child(3) {
        animation-delay: .5s;
    }

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}

/*send Messages*/
.my_form_container {
    border:3px solid lightgray;
    margin: 4rem auto;
    padding:5rem 2rem;
}

/*FOOTER*/
footer {
    border-top: 3px solid #284B63;
    height: 200px;
}